.cell{
    height:75px;
    width:75px;
    border: 2px solid;
    box-shadow: 0 0 0 2px green;
    cursor:pointer;
    line-height:75px;
    font-size: 3em;
    color:green;    
}
.cell-container{
    display: grid;
    grid-template-columns: repeat(3,auto) ;
    margin:auto;
    width: 225px;
}

.game-container{
    text-align:center;
    color:green;
}
body{
    background-color: black;
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    width: 100vw;
}
button{
    background-color: green;
    color: white;
    border: none;
    padding: 10px 20px;
    font-size: 1.5em;
    cursor: pointer;
    margin-top: 20px;
    border-radius:6px;
}
button:hover{
    background-color: darkgreen;
    color:yellow;
}
